backups/20260623-dynamic-training-email/updated-blueprint-5458320.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "hook": {
              "label": "monthly-registration-5458320"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 0
        },
        "interface": [
          {
            "name": "name",
            "type": "text",
            "label": "name"
          },
          {
            "name": "company",
            "type": "text",
            "label": "company"
          },
          {
            "name": "email",
            "type": "email",
            "label": "email"
          },
          {
            "name": "phone",
            "type": "text",
            "label": "phone"
          },
          {
            "name": "topic",
            "type": "text",
            "label": "topic"
          },
          {
            "name": "selected_topics",
            "type": "text",
            "label": "selected_topics"
          },
          {
            "name": "other_topic",
            "type": "text",
            "label": "other_topic"
          },
          {
            "name": "source",
            "type": "text",
            "label": "source"
          },
          {
            "name": "target_spreadsheet_id",
            "type": "text",
            "label": "target_spreadsheet_id"
          }
        ],
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "options": {
              "learning": true
            },
            "required": true
          },
          {
            "help": "Applies only if the scenario is not scheduled to run 'Immediately' .\n\n{{l:panels.module.maxresults@inspector}}",
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results",
            "advanced": true,
            "required": false
          }
        ]
      },
      "parameters": {
        "hook": 2486199
      }
    },
    {
      "id": 4,
      "mapper": {
        "from": "drive",
        "filter": [
          [
            {
              "a": "C",
              "b": "פעיל",
              "o": "text:equal"
            }
          ]
        ],
        "sheetId": "הדרכה פעילה",
        "sortOrder": "asc",
        "spreadsheetId": "1KVnCH206v5Bq4LT-cuTncBrvJwD5TcV1_zQwP2sOkeE",
        "tableFirstRow": "A1:CZ1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "module": "google-sheets:filterRows",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "from",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "spreadsheetId",
            "type": "select",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "tableFirstRow",
            "type": "select",
            "label": "Column range",
            "required": true,
            "validate": {
              "enum": [
                "A1:Z1",
                "A1:BZ1",
                "A1:CZ1",
                "A1:DZ1",
                "A1:MZ1",
                "A1:ZZ1",
                "A1:AZZ1",
                "A1:BZZ1",
                "A1:CZZ1",
                "A1:DZZ1",
                "A1:MZZ1",
                "A1:ZZZ1"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
          },
          {
            "name": "orderBy",
            "type": "select",
            "label": "Order by"
          },
          {
            "name": "sortOrder",
            "type": "select",
            "label": "Sort order",
            "validate": {
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "from": {
              "label": "Select from My Drive"
            },
            "orderBy": {
              "mode": "chose",
              "label": "Empty"
            },
            "sheetId": {
              "mode": "chose",
              "label": "הדרכה פעילה"
            },
            "sortOrder": {
              "mode": "chose",
              "label": "Ascending"
            },
            "spreadsheetId": {
              "mode": "chose",
              "label": "טופס תמיכה טכנית/מכירות מהאתר"
            },
            "tableFirstRow": {
              "label": "A-CZ"
            },
            "includesHeaders": {
              "mode": "chose",
              "label": "Yes"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "My Google connection (plant3576@gmail.com)"
            }
          }
        },
        "designer": {
          "x": 348,
          "y": -7
        },
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "__SPREADSHEET_ID__",
            "type": "text",
            "label": "Spreadsheet ID"
          },
          {
            "name": "__SHEET__",
            "type": "text",
            "label": "Sheet"
          },
          {
            "name": "0",
            "type": "text",
            "label": "תאריך ההדרכה (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "קישור להדרכה (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "פעיל? (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "(D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "(E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "(F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "(G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "(H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "(I)"
          },
          {
            "name": "9",
            "type": "text",
            "label": "(J)"
          },
          {
            "name": "10",
            "type": "text",
            "label": "(K)"
          },
          {
            "name": "11",
            "type": "text",
            "label": "(L)"
          },
          {
            "name": "12",
            "type": "text",
            "label": "(M)"
          },
          {
            "name": "13",
            "type": "text",
            "label": "(N)"
          },
          {
            "name": "14",
            "type": "text",
            "label": "(O)"
          },
          {
            "name": "15",
            "type": "text",
            "label": "(P)"
          },
          {
            "name": "16",
            "type": "text",
            "label": "(Q)"
          },
          {
            "name": "17",
            "type": "text",
            "label": "(R)"
          },
          {
            "name": "18",
            "type": "text",
            "label": "(S)"
          },
          {
            "name": "19",
            "type": "text",
            "label": "(T)"
          },
          {
            "name": "20",
            "type": "text",
            "label": "(U)"
          },
          {
            "name": "21",
            "type": "text",
            "label": "(V)"
          },
          {
            "name": "22",
            "type": "text",
            "label": "(W)"
          },
          {
            "name": "23",
            "type": "text",
            "label": "(X)"
          },
          {
            "name": "24",
            "type": "text",
            "label": "(Y)"
          },
          {
            "name": "25",
            "type": "text",
            "label": "(Z)"
          },
          {
            "name": "26",
            "type": "text",
            "label": "(AA)"
          },
          {
            "name": "27",
            "type": "text",
            "label": "(AB)"
          },
          {
            "name": "28",
            "type": "text",
            "label": "(AC)"
          },
          {
            "name": "29",
            "type": "text",
            "label": "(AD)"
          },
          {
            "name": "30",
            "type": "text",
            "label": "(AE)"
          },
          {
            "name": "31",
            "type": "text",
            "label": "(AF)"
          },
          {
            "name": "32",
            "type": "text",
            "label": "(AG)"
          },
          {
            "name": "33",
            "type": "text",
            "label": "(AH)"
          },
          {
            "name": "34",
            "type": "text",
            "label": "(AI)"
          },
          {
            "name": "35",
            "type": "text",
            "label": "(AJ)"
          },
          {
            "name": "36",
            "type": "text",
            "label": "(AK)"
          },
          {
            "name": "37",
            "type": "text",
            "label": "(AL)"
          },
          {
            "name": "38",
            "type": "text",
            "label": "(AM)"
          },
          {
            "name": "39",
            "type": "text",
            "label": "(AN)"
          },
          {
            "name": "40",
            "type": "text",
            "label": "(AO)"
          },
          {
            "name": "41",
            "type": "text",
            "label": "(AP)"
          },
          {
            "name": "42",
            "type": "text",
            "label": "(AQ)"
          },
          {
            "name": "43",
            "type": "text",
            "label": "(AR)"
          },
          {
            "name": "44",
            "type": "text",
            "label": "(AS)"
          },
          {
            "name": "45",
            "type": "text",
            "label": "(AT)"
          },
          {
            "name": "46",
            "type": "text",
            "label": "(AU)"
          },
          {
            "name": "47",
            "type": "text",
            "label": "(AV)"
          },
          {
            "name": "48",
            "type": "text",
            "label": "(AW)"
          },
          {
            "name": "49",
            "type": "text",
            "label": "(AX)"
          },
          {
            "name": "50",
            "type": "text",
            "label": "(AY)"
          },
          {
            "name": "51",
            "type": "text",
            "label": "(AZ)"
          },
          {
            "name": "52",
            "type": "text",
            "label": "(BA)"
          },
          {
            "name": "53",
            "type": "text",
            "label": "(BB)"
          },
          {
            "name": "54",
            "type": "text",
            "label": "(BC)"
          },
          {
            "name": "55",
            "type": "text",
            "label": "(BD)"
          },
          {
            "name": "56",
            "type": "text",
            "label": "(BE)"
          },
          {
            "name": "57",
            "type": "text",
            "label": "(BF)"
          },
          {
            "name": "58",
            "type": "text",
            "label": "(BG)"
          },
          {
            "name": "59",
            "type": "text",
            "label": "(BH)"
          },
          {
            "name": "60",
            "type": "text",
            "label": "(BI)"
          },
          {
            "name": "61",
            "type": "text",
            "label": "(BJ)"
          },
          {
            "name": "62",
            "type": "text",
            "label": "(BK)"
          },
          {
            "name": "63",
            "type": "text",
            "label": "(BL)"
          },
          {
            "name": "64",
            "type": "text",
            "label": "(BM)"
          },
          {
            "name": "65",
            "type": "text",
            "label": "(BN)"
          },
          {
            "name": "66",
            "type": "text",
            "label": "(BO)"
          },
          {
            "name": "67",
            "type": "text",
            "label": "(BP)"
          },
          {
            "name": "68",
            "type": "text",
            "label": "(BQ)"
          },
          {
            "name": "69",
            "type": "text",
            "label": "(BR)"
          },
          {
            "name": "70",
            "type": "text",
            "label": "(BS)"
          },
          {
            "name": "71",
            "type": "text",
            "label": "(BT)"
          },
          {
            "name": "72",
            "type": "text",
            "label": "(BU)"
          },
          {
            "name": "73",
            "type": "text",
            "label": "(BV)"
          },
          {
            "name": "74",
            "type": "text",
            "label": "(BW)"
          },
          {
            "name": "75",
            "type": "text",
            "label": "(BX)"
          },
          {
            "name": "76",
            "type": "text",
            "label": "(BY)"
          },
          {
            "name": "77",
            "type": "text",
            "label": "(BZ)"
          },
          {
            "name": "78",
            "type": "text",
            "label": "(CA)"
          },
          {
            "name": "79",
            "type": "text",
            "label": "(CB)"
          },
          {
            "name": "80",
            "type": "text",
            "label": "(CC)"
          },
          {
            "name": "81",
            "type": "text",
            "label": "(CD)"
          },
          {
            "name": "82",
            "type": "text",
            "label": "(CE)"
          },
          {
            "name": "83",
            "type": "text",
            "label": "(CF)"
          },
          {
            "name": "84",
            "type": "text",
            "label": "(CG)"
          },
          {
            "name": "85",
            "type": "text",
            "label": "(CH)"
          },
          {
            "name": "86",
            "type": "text",
            "label": "(CI)"
          },
          {
            "name": "87",
            "type": "text",
            "label": "(CJ)"
          },
          {
            "name": "88",
            "type": "text",
            "label": "(CK)"
          },
          {
            "name": "89",
            "type": "text",
            "label": "(CL)"
          },
          {
            "name": "90",
            "type": "text",
            "label": "(CM)"
          },
          {
            "name": "91",
            "type": "text",
            "label": "(CN)"
          },
          {
            "name": "92",
            "type": "text",
            "label": "(CO)"
          },
          {
            "name": "93",
            "type": "text",
            "label": "(CP)"
          },
          {
            "name": "94",
            "type": "text",
            "label": "(CQ)"
          },
          {
            "name": "95",
            "type": "text",
            "label": "(CR)"
          },
          {
            "name": "96",
            "type": "text",
            "label": "(CS)"
          },
          {
            "name": "97",
            "type": "text",
            "label": "(CT)"
          },
          {
            "name": "98",
            "type": "text",
            "label": "(CU)"
          },
          {
            "name": "99",
            "type": "text",
            "label": "(CV)"
          },
          {
            "name": "100",
            "type": "text",
            "label": "(CW)"
          },
          {
            "name": "101",
            "type": "text",
            "label": "(CX)"
          },
          {
            "name": "102",
            "type": "text",
            "label": "(CY)"
          },
          {
            "name": "103",
            "type": "text",
            "label": "(CZ)"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 6487876
      }
    },
    {
      "id": 8,
      "mapper": {
        "values": {
          "0": "{{1.name}}",
          "1": "{{1.phone}}",
          "2": "{{1.email}}",
          "3": "{{1.company}}",
          "4": "{{1.selected_topics}}",
          "5": "{{formatDate(now; \"DD/MM/YYYY HH:mm:ss\")}}",
          "6": "{{4.`0`}}"
        }
      },
      "module": "google-sheets:addRow",
      "version": 2,
      "metadata": {
        "expect": [],
        "restore": {
          "expect": {
            "from": {
              "label": "My Drive"
            },
            "mode": {
              "label": "Search by path"
            },
            "sheetId": {
              "label": "הרשמה לוובינר"
            },
            "spreadsheetId": {
              "path": [
                "טופס תמיכה טכנית/מכירות מהאתר"
              ]
            },
            "includesHeaders": {
              "label": "Yes"
            },
            "insertDataOption": {
              "mode": "chose",
              "label": "Insert rows"
            },
            "valueInputOption": {
              "mode": "chose",
              "label": "User entered"
            },
            "insertUnformatted": {
              "mode": "chose",
              "label": "No"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "My Google connection (plant3576@gmail.com)"
            }
          }
        },
        "designer": {
          "x": 686,
          "y": -20
        },
        "interface": [
          {
            "name": "spreadsheetId",
            "type": "text",
            "label": "Spreadsheet ID"
          },
          {
            "name": "tableRange",
            "type": "text",
            "label": "Table Range"
          },
          {
            "name": "updates",
            "spec": [
              {
                "name": "spreadsheetId",
                "type": "text",
                "label": "Spreadsheet ID"
              },
              {
                "name": "updatedRange",
                "type": "text",
                "label": "Updated range"
              },
              {
                "name": "updatedRows",
                "type": "text",
                "label": "Updated rows"
              },
              {
                "name": "updatedColumns",
                "type": "text",
                "label": "Updated columns"
              },
              {
                "name": "updatedCells",
                "type": "text",
                "label": "Updated cells"
              }
            ],
            "type": "collection",
            "label": "Updates"
          },
          {
            "name": "sheetName",
            "type": "text",
            "label": "Sheet"
          },
          {
            "name": "rowNumber",
            "type": "number",
            "label": "Row Number"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "options": {
              "nested": {
                "store": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "default": "select",
                    "options": [
                      {
                        "label": "Search by path",
                        "value": "select",
                        "nested": [
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Drive",
                            "options": [
                              {
                                "label": "My Drive",
                                "value": "drive",
                                "nested": [
                                  {
                                    "name": "spreadsheetId",
                                    "type": "file",
                                    "label": "Spreadsheet Name",
                                    "options": {
                                      "ids": true,
                                      "store": "rpc://google-sheets@2/listSpreadsheets",
                                      "nested": [
                                        {
                                          "name": "sheetId",
                                          "type": "select",
                                          "label": "Sheet Name",
                                          "options": {
                                            "store": "rpc://google-sheets@2/rpcSheet",
                                            "nested": [
                                              {
                                                "name": "includesHeaders",
                                                "type": "select",
                                                "label": "Table contains headers",
                                                "default": true,
                                                "options": [
                                                  {
                                                    "label": "Yes",
                                                    "value": true,
                                                    "nested": [
                                                      {
                                                        "help": "When enabled, column header names are used as stable IDs. This protects mappings when columns are added, removed, or reordered in the table. Leave it disabled if you need the module to continue working when columns are renamed (in which case, column position will be used as the ID).",
                                                        "name": "useColumnHeaders",
                                                        "type": "select",
                                                        "label": "Use column headers as IDs of the columns",
                                                        "nested": "rpc://google-sheets@2/rpcSheetInput",
                                                        "default": false,
                                                        "options": [
                                                          {
                                                            "label": "Yes",
                                                            "value": true
                                                          },
                                                          {
                                                            "label": "No",
                                                            "value": false
                                                          }
                                                        ],
                                                        "mappable": false,
                                                        "required": true
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "label": "No",
                                                    "value": false,
                                                    "nested": [
                                                      {
                                                        "help": "Please select the column range you want to work with.",
                                                        "name": "tableFirstRow",
                                                        "type": "select",
                                                        "label": "Column range",
                                                        "options": [
                                                          {
                                                            "label": "A-Z",
                                                            "value": "A1:Z1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          },
                                                          {
                                                            "label": "A-BZ",
                                                            "value": "A1:BZ1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          },
                                                          {
                                                            "label": "A-CZ",
                                                            "value": "A1:CZ1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          },
                                                          {
                                                            "label": "A-DZ",
                                                            "value": "A1:DZ1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          },
                                                          {
                                                            "label": "A-MZ",
                                                            "value": "A1:MZ1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          },
                                                          {
                                                            "label": "A-ZZ",
                                                            "value": "A1:ZZ1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          }
                                                        ],
                                                        "mappable": false,
                                                        "required": true
                                                      }
                                                    ]
                                                  }
                                                ],
                                                "mappable": false,
                                                "required": true
                                              }
                                            ]
                                          },
                                          "mappable": false,
                                          "required": true
                                        }
                                      ]
                                    },
                                    "mappable": false,
                                    "required": true
                                  }
                                ],
                                "default": true
                              },
                              {
                                "label": "Shared with me",
                                "value": "share",
                                "nested": [
                                  {
                                    "name": "spreadsheetId",
                                    "type": "file",
                                    "label": "Spreadsheet Name",
                                    "options": {
                                      "ids": true,
                                      "store": "rpc://google-sheets@2/listSpreadsheets?share=true",
                                      "nested": [
                                        {
                                          "name": "sheetId",
                                          "type": "select",
                                          "label": "Sheet Name",
                                          "options": {
                                            "store": "rpc://google-sheets@2/rpcSheet",
                                            "nested": [
                                              {
                                                "name": "includesHeaders",
                                                "type": "select",
                                                "label": "Table contains headers",
                                                "default": true,
                                                "options": [
                                                  {
                                                    "label": "Yes",
                                                    "value": true,
                                                    "nested": [
                                                      {
                                                        "help": "When enabled, column headers are used as IDs. This allows the module to continue working even if new columns are inserted into the table, without needing to remap values.",
                                                        "name": "useColumnHeaders",
                                                        "type": "select",
                                                        "label": "Use column headers as IDs of the columns",
                                                        "nested": "rpc://google-sheets@2/rpcSheetInput",
                                                        "default": false,
                                                        "options": [
                                                          {
                                                            "label": "Yes",
                                                            "value": true
                                                          },
                                                          {
                                                            "label": "No",
                                                            "value": false
                                                          }
                                                        ],
                                                        "mappable": false,
                                                        "required": true
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "label": "No",
                                                    "value": false,
                                                    "nested": [
                                                      {
                                                        "help": "Please select the column range you want to work with.",
                                                        "name": "tableFirstRow",
                                                        "type": "select",
                                                        "label": "Column range",
                                                        "options": [
                                                          {
                                                            "label": "A-Z",
                                                            "value": "A1:Z1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          },
                                                          {
                                                            "label": "A-BZ",
                                                            "value": "A1:BZ1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          },
                                                          {
                                                            "label": "A-CZ",
                                                            "value": "A1:CZ1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          },
                                                          {
                                                            "label": "A-DZ",
                                                            "value": "A1:DZ1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          },
                                                          {
                                                            "label": "A-MZ",
                                                            "value": "A1:MZ1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          },
                                                          {
                                                            "label": "A-ZZ",
                                                            "value": "A1:ZZ1",
                                                            "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                          }
                                                        ],
                                                        "mappable": false,
                                                        "required": true
                                                      }
                                                    ]
                                                  }
                                                ],
                                                "mappable": false,
                                                "required": true
                                              }
                                            ]
                                          },
                                          "mappable": false,
                                          "required": true
                                        }
                                      ]
                                    },
                                    "mappable": false,
                                    "required": true
                                  }
                                ]
                              },
                              {
                                "label": "Google Shared Drive",
                                "value": "team",
                                "nested": [
                                  {
                                    "help": "Issue the request as a domain administrator\nIf set to`Yes`, then all shared drives of the domain in which the requester is an administrator are returned.",
                                    "name": "useDomainAdminAccess",
                                    "type": "select",
                                    "label": "Use Domain Admin Access",
                                    "options": {
                                      "store": [
                                        {
                                          "label": "Yes",
                                          "value": true
                                        },
                                        {
                                          "label": "No",
                                          "value": false,
                                          "default": true
                                        }
                                      ],
                                      "nested": [
                                        {
                                          "name": "sharedDrive",
                                          "type": "select",
                                          "label": "Shared Drive",
                                          "options": {
                                            "store": "rpc://google-sheets@2/listSharedDrives",
                                            "nested": [
                                              {
                                                "name": "spreadsheetId",
                                                "type": "file",
                                                "label": "Spreadsheet Name",
                                                "options": {
                                                  "ids": true,
                                                  "store": "rpc://google-sheets@2/listTeamSpreadsheets",
                                                  "nested": [
                                                    {
                                                      "name": "sheetId",
                                                      "type": "select",
                                                      "label": "Sheet Name",
                                                      "options": {
                                                        "store": "rpc://google-sheets@2/rpcSheet",
                                                        "nested": [
                                                          {
                                                            "name": "includesHeaders",
                                                            "type": "select",
                                                            "label": "Table contains headers",
                                                            "default": true,
                                                            "options": [
                                                              {
                                                                "label": "Yes",
                                                                "value": true,
                                                                "nested": [
                                                                  {
                                                                    "help": "When enabled, column headers are used as IDs. This allows the module to continue working even if new columns are inserted into the table, without needing to remap values.",
                                                                    "name": "useColumnHeaders",
                                                                    "type": "select",
                                                                    "label": "Use column headers as IDs of the columns",
                                                                    "nested": "rpc://google-sheets@2/rpcSheetInput",
                                                                    "default": false,
                                                                    "options": [
                                                                      {
                                                                        "label": "Yes",
                                                                        "value": true
                                                                      },
                                                                      {
                                                                        "label": "No",
                                                                        "value": false
                                                                      }
                                                                    ],
                                                                    "mappable": false,
                                                                    "required": true
                                                                  }
                                                                ]
                                                              },
                                                              {
                                                                "label": "No",
                                                                "value": false,
                                                                "nested": [
                                                                  {
                                                                    "help": "Please select the column range you want to work with.",
                                                                    "name": "tableFirstRow",
                                                                    "type": "select",
                                                                    "label": "Column range",
                                                                    "options": [
                                                                      {
                                                                        "label": "A-Z",
                                                                        "value": "A1:Z1",
                                                                        "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                                      },
                                                                      {
                                                                        "label": "A-BZ",
                                                                        "value": "A1:BZ1",
                                                                        "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                                      },
                                                                      {
                                                                        "label": "A-CZ",
                                                                        "value": "A1:CZ1",
                                                                        "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                                      },
                                                                      {
                                                                        "label": "A-DZ",
                                                                        "value": "A1:DZ1",
                                                                        "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                                      },
                                                                      {
                                                                        "label": "A-MZ",
                                                                        "value": "A1:MZ1",
                                                                        "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                                      },
                                                                      {
                                                                        "label": "A-ZZ",
                                                                        "value": "A1:ZZ1",
                                                                        "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                                      }
                                                                    ],
                                                                    "mappable": false,
                                                                    "required": true
                                                                  }
                                                                ]
                                                              }
                                                            ],
                                                            "mappable": false,
                                                            "required": true
                                                          }
                                                        ]
                                                      },
                                                      "mappable": false,
                                                      "required": true
                                                    }
                                                  ]
                                                },
                                                "mappable": false,
                                                "required": true
                                              }
                                            ]
                                          },
                                          "mappable": false,
                                          "required": true
                                        }
                                      ]
                                    },
                                    "mappable": false,
                                    "required": true
                                  }
                                ]
                              }
                            ],
                            "mappable": false,
                            "required": true
                          }
                        ]
                      },
                      {
                        "label": "Select from all",
                        "value": "fromAll",
                        "nested": [
                          {
                            "rpc": {
                              "url": "rpc://google-sheets@2/rpcSpreadsheet",
                              "label": "ID Finder",
                              "parameters": [
                                {
                                  "help": "Leave the field empty to display all files. Enter the filename or its part(s).",
                                  "name": "spreadsheetName",
                                  "type": "text",
                                  "label": "Filename Keywords"
                                },
                                {
                                  "name": "enableSharedDrives",
                                  "type": "boolean",
                                  "label": "Search in Shared Drives",
                                  "nested": [
                                    {
                                      "help": "Must have **domain administrator** access.\nIf set to `Yes`, all shared drives will be searched for results.",
                                      "name": "useDomainAdminAccess",
                                      "type": "select",
                                      "label": "Use Domain Admin Access",
                                      "options": {
                                        "store": [
                                          {
                                            "label": "Yes",
                                            "value": true
                                          },
                                          {
                                            "label": "No",
                                            "value": false,
                                            "default": true
                                          }
                                        ],
                                        "nested": [
                                          {
                                            "name": "drive",
                                            "type": "select",
                                            "label": "Shared Drive",
                                            "options": "rpc://google-sheets@2/listSharedDrives",
                                            "required": true
                                          }
                                        ]
                                      },
                                      "mappable": false,
                                      "required": true
                                    }
                                  ],
                                  "default": false,
                                  "required": true
                                }
                              ]
                            },
                            "help": "Find the Spreadsheet ID by clicking **ID Finder** .\ne.g. 1a1ADVruoa0YztkOpKM6BWXIYO9GWaA",
                            "name": "spreadsheetId",
                            "type": "text",
                            "label": "Spreadsheet ID",
                            "nested": [
                              {
                                "name": "sheetId",
                                "type": "select",
                                "label": "Sheet Name",
                                "options": {
                                  "store": "rpc://google-sheets@2/rpcSheet",
                                  "nested": [
                                    {
                                      "name": "includesHeaders",
                                      "type": "select",
                                      "label": "Table contains headers",
                                      "default": true,
                                      "options": [
                                        {
                                          "label": "Yes",
                                          "value": true,
                                          "nested": [
                                            {
                                              "help": "When enabled, column headers are used as IDs. This allows the module to continue working even if new columns are inserted into the table, without needing to remap values.",
                                              "name": "useColumnHeaders",
                                              "type": "select",
                                              "label": "Use column headers as IDs of the columns",
                                              "nested": "rpc://google-sheets@2/rpcSheetInput",
                                              "default": false,
                                              "options": [
                                                {
                                                  "label": "Yes",
                                                  "value": true
                                                },
                                                {
                                                  "label": "No",
                                                  "value": false
                                                }
                                              ],
                                              "mappable": false,
                                              "required": true
                                            }
                                          ]
                                        },
                                        {
                                          "label": "No",
                                          "value": false,
                                          "nested": [
                                            {
                                              "help": "Please select the column range you want to work with.",
                                              "name": "tableFirstRow",
                                              "type": "select",
                                              "label": "Column range",
                                              "options": [
                                                {
                                                  "label": "A-Z",
                                                  "value": "A1:Z1",
                                                  "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                },
                                                {
                                                  "label": "A-BZ",
                                                  "value": "A1:BZ1",
                                                  "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                },
                                                {
                                                  "label": "A-CZ",
                                                  "value": "A1:CZ1",
                                                  "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                },
                                                {
                                                  "label": "A-DZ",
                                                  "value": "A1:DZ1",
                                                  "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                },
                                                {
                                                  "label": "A-MZ",
                                                  "value": "A1:MZ1",
                                                  "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                },
                                                {
                                                  "label": "A-ZZ",
                                                  "value": "A1:ZZ1",
                                                  "nested": "rpc://google-sheets@2/rpcSheetInput"
                                                }
                                              ],
                                              "mappable": false,
                                              "required": true
                                            }
                                          ]
                                        }
                                      ],
                                      "mappable": false,
                                      "required": true
                                    }
                                  ]
                                },
                                "required": true
                              }
                            ],
                            "required": true
                          }
                        ]
                      },
                      {
                        "label": "Enter manually",
                        "value": "map",
                        "nested": [
                          {
                            "help": "A spreadsheet ID can be extracted from its URL.\nFor example, the spreadsheet ID in the URL `https://docs.google.com/spreadsheets/d/abc1234567/edit#gid=0` is `abc1234567`",
                            "name": "spreadsheetId",
                            "type": "text",
                            "label": "Spreadsheet ID",
                            "required": true
                          },
                          {
                            "help": "Enter a sheet name.",
                            "name": "sheetId",
                            "type": "text",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "help": "Please select the column range you want to work with.",
                            "name": "tableFirstRow",
                            "type": "select",
                            "label": "Column range",
                            "options": [
                              {
                                "label": "A-Z",
                                "value": "A1:Z1",
                                "nested": "rpc://google-sheets@2/rpcSheetInput"
                              },
                              {
                                "label": "A-BZ",
                                "value": "A1:BZ1",
                                "nested": "rpc://google-sheets@2/rpcSheetInput"
                              },
                              {
                                "label": "A-CZ",
                                "value": "A1:CZ1",
                                "nested": "rpc://google-sheets@2/rpcSheetInput"
                              },
                              {
                                "label": "A-DZ",
                                "value": "A1:DZ1",
                                "nested": "rpc://google-sheets@2/rpcSheetInput"
                              },
                              {
                                "label": "A-MZ",
                                "value": "A1:MZ1",
                                "nested": "rpc://google-sheets@2/rpcSheetInput"
                              },
                              {
                                "label": "A-ZZ",
                                "value": "A1:ZZ1",
                                "nested": "rpc://google-sheets@2/rpcSheetInput"
                              }
                            ],
                            "mappable": false,
                            "required": true
                          }
                        ]
                      }
                    ],
                    "mappable": false,
                    "required": true
                  },
                  {
                    "help": "Whether to insert a row unformatted. This e.g. means that if you try to add new URLs into a column in Google Sheets, they will not be converted to clickable links if you select `Yes` here.",
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "default": false,
                    "required": true
                  },
                  {
                    "help": "The way the input data will be interpreted. More detailed explanations can be found in the [Make Help Center](https://www.make.com/en/help/app/google-sheets#add-a-row-964718).",
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "default": "USER_ENTERED",
                    "options": [
                      {
                        "label": "User entered",
                        "value": "USER_ENTERED"
                      },
                      {
                        "label": "Raw",
                        "value": "RAW"
                      }
                    ],
                    "advanced": true,
                    "editable": true,
                    "required": true
                  },
                  {
                    "help": "Specifies whether new data should create new rows or replace existing cells in the range.",
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "default": "INSERT_ROWS",
                    "options": [
                      {
                        "label": "Insert rows",
                        "value": "INSERT_ROWS"
                      },
                      {
                        "label": "Overwrite",
                        "value": "OVERWRITE"
                      }
                    ],
                    "advanced": true,
                    "editable": true
                  }
                ],
                "domain": "expect"
              }
            },
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 6487876,
        "from": "drive",
        "mode": "select",
        "spreadsheetId": "/1KVnCH206v5Bq4LT-cuTncBrvJwD5TcV1_zQwP2sOkeE",
        "sheetId": "הרשמה לוובינר",
        "includesHeaders": true,
        "useColumnHeaders": false,
        "insertUnformatted": false,
        "valueInputOption": "USER_ENTERED",
        "insertDataOption": "INSERT_ROWS"
      }
    },
    {
      "id": 12,
      "mapper": {
        "name": "בדיקה ",
        "scope": "roundtrip",
        "value": "<div dir=\"rtl\" style=\"font-family: Arial, sans-serif; line-height: 1.7; color: #10142B; text-align: right; background-color: #ffffff; padding: 24px;\">\n    <div style=\"text-align: center; margin-bottom: 26px;\">\n        <img src=\"https://natali6582.github.io/monthly-registration/assets/plan-t-logo.jpg\" alt=\"PLAN-T Smart Financial Platform\" style=\"display: inline-block; width: 190px; max-width: 100%; height: auto;\">\n    </div>\n\n    <p style=\"margin: 0 0 18px 0;\">שלום {{1.name}},</p>\n\n    <p style=\"margin: 0 0 18px 0;\">אנו מזמינים אתכם להדרכה מקצועית וממוקדת בנושא הקמת לקוח חדש בליווי טעינת קבצים למערכת. המפגש יתמקד בהסבר מקיף על כל סוגי הקבצים וייתן דגשים חשובים שיסייעו לכם בניהול התהליך, מהקמת הלקוח ועד להצגת הנתונים במערכת.</p>\n\n    <div style=\"background-color: #EAF7FD; border: 1px solid #B8E4F5; border-right: 5px solid #30AADD; border-radius: 8px; padding: 14px 16px; margin: 22px 0;\">\n        <strong style=\"color: #10142B;\">מתי?</strong>\n        <span style=\"font-weight: 700;\">{{4.`0`}}</span>\n    </div>\n\n    <p style=\"font-weight: 700; margin: 0 0 12px 0;\">תתי הנושאים שנעבור עליהם:</p>\n\n    <ul dir=\"rtl\" style=\"margin: 0 20px 18px 0; padding: 0;\">\n        <li style=\"margin-bottom: 10px;\">קבצי פישינג (FISHING): טיפול בקבצים עבור זוג לקוחות. הקמת לקוחות חדשים.</li>\n        <li style=\"margin-bottom: 10px;\">ניהול תיקים: דגשים בסוגי הקבצים שצריך לטעון, ומה כל קובץ מראה לי.</li>\n        <li style=\"margin-bottom: 10px;\">תיקים מיועצים: טעינת קובץ אחזקות מהבנק והבנת ההבדלים בין תיק מנוהל לתיק מיועץ.</li>\n        <li style=\"margin-bottom: 10px;\">קרנות השקעה אלטרנטיביות: ניהול עבודה עם קבצי קרנות.</li>\n        <li style=\"margin-bottom: 10px;\">ניהול מוצרי IRA: דגשים לטיפול בנכס כפול.</li>\n    </ul>\n\n    <p style=\"font-weight: 700; margin: 0 0 18px 0;\">במהלך ההדרכה נציג דוגמאות חיות לטעינה, כדי שתוכלו ליישם את הכלים בקלות בעבודה השוטפת.</p>\n\n    <p style=\"margin: 0 0 18px 0;\">קישור הכניסה להדרכה יישלח אליך בהמשך. לשאלות ניתן לפנות לכתובת: <span style=\"color: #006BA6; font-weight: 700;\">supportclient@plan-t.org.il</span></p>\n\n    <p style=\"margin: 0 0 18px 0;\">נשמח לראותכם,</p>\n\n    <div style=\"margin-top: 28px; border-top: 1px solid #E5EAF0; padding-top: 16px;\">\n        <strong style=\"display: block; margin-bottom: 12px;\">צוות Plan-T</strong>\n        <img src=\"https://natali6582.github.io/monthly-registration/assets/plan-t-logo.jpg\" alt=\"PLAN-T Smart Financial Platform\" style=\"display: block; width: 140px; max-width: 100%; height: auto;\">\n    </div>\n</div>\n"
      },
      "module": "util:SetVariable2",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Variable name",
            "required": true
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          },
          {
            "name": "value",
            "type": "any",
            "label": "Variable value"
          }
        ],
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            }
          }
        },
        "designer": {
          "x": 1035,
          "y": -24
        },
        "interface": [
          {
            "name": "בדיקה ",
            "type": "any",
            "label": "בדיקה "
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 10,
      "mapper": {
        "name": "{{12.`בדיקה `}}"
      },
      "module": "util:GetVariable2",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Variable name",
            "required": true
          }
        ],
        "restore": {},
        "designer": {
          "x": 1330,
          "y": -21
        },
        "interface": [
          {
            "name": null,
            "type": "any",
            "label": null
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 2,
      "mapper": {
        "content": "{{12.`בדיקה `}}",
        "subject": "הרשמה לוובינר Plan-t {{4.`0`}}",
        "contentType": "html",
        "toRecipients": [
          {
            "name": "{{1.name}}",
            "address": "{{1.email}}"
          }
        ],
        "singleValueExtendedProperties": {}
      },
      "module": "microsoft-email:createAndSendAMessage",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "toRecipients",
            "spec": [
              {
                "name": "address",
                "type": "email",
                "label": "Email Address",
                "required": true
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "array",
            "label": "To Recipients",
            "required": true
          },
          {
            "name": "subject",
            "type": "text",
            "label": "Subject",
            "required": true
          },
          {
            "name": "content",
            "type": "text",
            "label": "Body Content",
            "required": true
          },
          {
            "name": "attachments",
            "spec": [
              {
                "name": "filename",
                "type": "filename",
                "label": "File Name",
                "required": true,
                "semantic": "file:name"
              },
              {
                "name": "data",
                "type": "buffer",
                "label": "Data",
                "required": true,
                "semantic": "file:data"
              }
            ],
            "type": "array",
            "label": "Attachments"
          },
          {
            "name": "replyTo",
            "spec": [
              {
                "name": "address",
                "type": "email",
                "label": "Email Address",
                "required": true
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "array",
            "label": "Reply To"
          },
          {
            "name": "from",
            "spec": [
              {
                "name": "address",
                "type": "email",
                "label": "Email Address",
                "required": true
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "array",
            "label": "From",
            "validate": {
              "maxItems": 1
            }
          },
          {
            "name": "ccRecipients",
            "spec": [
              {
                "name": "address",
                "type": "email",
                "label": "Email Address",
                "required": true
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "array",
            "label": "CC Recipients"
          },
          {
            "name": "bccRecipients",
            "spec": [
              {
                "name": "address",
                "type": "email",
                "label": "Email Address",
                "required": true
              },
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              }
            ],
            "type": "array",
            "label": "Bcc Recipients"
          },
          {
            "name": "importance",
            "type": "select",
            "label": "Importance",
            "validate": {
              "enum": [
                "Low",
                "Normal",
                "High"
              ]
            }
          },
          {
            "name": "internetMessageHeaders",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value",
                "required": true
              }
            ],
            "type": "array",
            "label": "Internet Message Headers"
          },
          {
            "name": "contentType",
            "type": "select",
            "label": "Body Content Type",
            "required": true,
            "validate": {
              "enum": [
                "html",
                "text"
              ]
            }
          },
          {
            "name": "singleValueExtendedProperties",
            "spec": [
              {
                "name": "sensitivityLabel",
                "type": "text",
                "label": "Sensitivity Label"
              }
            ],
            "type": "collection",
            "label": "Extended MAPI Properties"
          }
        ],
        "restore": {
          "expect": {
            "from": {
              "mode": "chose"
            },
            "replyTo": {
              "mode": "chose"
            },
            "importance": {
              "mode": "chose",
              "label": "Empty"
            },
            "attachments": {
              "mode": "chose"
            },
            "contentType": {
              "mode": "chose",
              "label": "HTML"
            },
            "ccRecipients": {
              "mode": "chose"
            },
            "toRecipients": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "bccRecipients": {
              "mode": "chose"
            },
            "internetMessageHeaders": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "azure"
              },
              "label": "חיבור למייל SALES (sales <sales@plan-t.org.il>)"
            }
          }
        },
        "designer": {
          "x": 1694,
          "y": -29
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:azure",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 6649321
      }
    }
  ],
  "name": "הרשמה ל הדרכה (נטלי)",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [
        [
          {
            "id": 9,
            "mapper": {
              "name": "Email_Body",
              "scope": "roundtrip",
              "value": "<div dir=\"rtl\" style=\"font-family: Arial, sans-serif; line-height: 1.7; color: #10142B; text-align: right; background-color: #ffffff; padding: 24px;\">\n    <div style=\"text-align: center; margin-bottom: 26px;\">\n        <img src=\"https://natali6582.github.io/monthly-registration/assets/plan-t-logo.jpg\" alt=\"PLAN-T Smart Financial Platform\" style=\"display: inline-block; width: 190px; max-width: 100%; height: auto;\">\n    </div>\n\n    <p style=\"margin: 0 0 18px 0;\">שלום {{1.name}},</p>\n\n    <p style=\"margin: 0 0 18px 0;\">אנו מזמינים אתכם להדרכה מקצועית וממוקדת בנושא הקמת לקוח חדש בליווי טעינת קבצים למערכת. המפגש יתמקד בהסבר מקיף על כל סוגי הקבצים וייתן דגשים חשובים שיסייעו לכם בניהול התהליך, מהקמת הלקוח ועד להצגת הנתונים במערכת.</p>\n\n    <div style=\"background-color: #EAF7FD; border: 1px solid #B8E4F5; border-right: 5px solid #30AADD; border-radius: 8px; padding: 14px 16px; margin: 22px 0;\">\n        <strong style=\"color: #10142B;\">מתי?</strong>\n        <span style=\"font-weight: 700;\">{{4.`0`}}</span>\n    </div>\n\n    <p style=\"font-weight: 700; margin: 0 0 12px 0;\">תתי הנושאים שנעבור עליהם:</p>\n\n    <ul dir=\"rtl\" style=\"margin: 0 20px 18px 0; padding: 0;\">\n        <li style=\"margin-bottom: 10px;\">קבצי פישינג (FISHING): טיפול בקבצים עבור זוג לקוחות. הקמת לקוחות חדשים.</li>\n        <li style=\"margin-bottom: 10px;\">ניהול תיקים: דגשים בסוגי הקבצים שצריך לטעון, ומה כל קובץ מראה לי.</li>\n        <li style=\"margin-bottom: 10px;\">תיקים מיועצים: טעינת קובץ אחזקות מהבנק והבנת ההבדלים בין תיק מנוהל לתיק מיועץ.</li>\n        <li style=\"margin-bottom: 10px;\">קרנות השקעה אלטרנטיביות: ניהול עבודה עם קבצי קרנות.</li>\n        <li style=\"margin-bottom: 10px;\">ניהול מוצרי IRA: דגשים לטיפול בנכס כפול.</li>\n    </ul>\n\n    <p style=\"font-weight: 700; margin: 0 0 18px 0;\">במהלך ההדרכה נציג דוגמאות חיות לטעינה, כדי שתוכלו ליישם את הכלים בקלות בעבודה השוטפת.</p>\n\n    <p style=\"margin: 0 0 18px 0;\">קישור הכניסה להדרכה יישלח אליך בהמשך. לשאלות ניתן לפנות לכתובת: <span style=\"color: #006BA6; font-weight: 700;\">supportclient@plan-t.org.il</span></p>\n\n    <p style=\"margin: 0 0 18px 0;\">נשמח לראותכם,</p>\n\n    <div style=\"margin-top: 28px; border-top: 1px solid #E5EAF0; padding-top: 16px;\">\n        <strong style=\"display: block; margin-bottom: 12px;\">צוות Plan-T</strong>\n        <img src=\"https://natali6582.github.io/monthly-registration/assets/plan-t-logo.jpg\" alt=\"PLAN-T Smart Financial Platform\" style=\"display: block; width: 140px; max-width: 100%; height: auto;\">\n    </div>\n</div>\n"
            },
            "module": "util:SetVariable2",
            "version": 1,
            "metadata": {
              "expect": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Variable name",
                  "required": true
                },
                {
                  "name": "scope",
                  "type": "select",
                  "label": "Variable lifetime",
                  "required": true,
                  "validate": {
                    "enum": [
                      "roundtrip",
                      "execution"
                    ]
                  }
                },
                {
                  "name": "value",
                  "type": "any",
                  "label": "Variable value"
                }
              ],
              "restore": {
                "expect": {
                  "scope": {
                    "label": "One cycle"
                  }
                }
              },
              "designer": {
                "x": 1161,
                "y": -473,
                "messages": [
                  {
                    "message": "This module is not connected to the flow. This module and everything after it will be skipped during execution. <autoconnect>Link it to your scenario to include them.</autoconnect>",
                    "category": "link",
                    "severity": "warning"
                  },
                  {
                    "message": "Referenced module 'Google Sheets - Search Rows' [4] is not accessible.",
                    "category": "reference",
                    "severity": "warning"
                  },
                  {
                    "message": "Referenced module 'Google Sheets - Watch New Rows' [1] is not accessible.",
                    "category": "reference",
                    "severity": "warning"
                  }
                ]
              },
              "interface": [
                {
                  "name": "Email_Body",
                  "type": "any",
                  "label": "Email_Body"
                }
              ]
            },
            "parameters": {}
          }
        ]
      ],
      "samples": {
        "1": {
          "name": "בדיקה",
          "email": "test@example.com",
          "phone": "0500000000",
          "topic": "טעינת קבצים",
          "source": "wix-training-landing",
          "company": "משרד בדיקה",
          "other_topic": "",
          "selected_topics": "טעינת קבצים",
          "target_spreadsheet_id": "1KVnCH206v5Bq4LT-cuTncBrvJwD5TcV1_zQwP2sOkeE"
        },
        "4": {
          "0": "23/02/2026 10:00:00",
          "1": "https://us06web.zoom.us/j/84959005671",
          "2": "פעיל",
          "__SHEET__": "הדרכה פעילה",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1,
          "__ROW_NUMBER__": 3,
          "__SPREADSHEET_ID__": "1KVnCH206v5Bq4LT-cuTncBrvJwD5TcV1_zQwP2sOkeE"
        },
        "8": {
          "updatedRows": 1,
          "updatedCells": 7,
          "updatedRange": "'הרשמה לוובינר'!A:G",
          "spreadsheetId": "1KVnCH206v5Bq4LT-cuTncBrvJwD5TcV1_zQwP2sOkeE",
          "updatedColumns": 7
        },
        "9": {
          "Email_Body": "<div dir=\"rtl\" style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; text-align: rig..."
        },
        "10": {
          "<div dir=\"rtl\" style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; text-align: right;\">\r\n    <h2 style=\"color: #000000;\">היי זיו, איזה כיף שנרשמת! 🙌</h2>\r\n    <p>הרשמתך להדרכה של PLAN-T התקבלה בהצלחה!</p>\r\n    \r\n    <div style=\"background-color: #ffff00; padding: 15px; border-radius: 8px; border-right: 5px solid #30AADD; margin: 20px 0;\">\r\n        <strong style=\"color: #000;\">📅 פרטי המפגש:</strong><br>\r\n        בתאריך: <strong>23/02/2026 10:00:00</strong>\r\n    </div>\r\n\r\n    <div style=\"margin-top: 25px;\">\r\n        <p><strong>🔗 קישור כניסה:</strong><br>\r\n        <a href=\"https://us06web.zoom.us/j/84959005671\" style=\"display: inline-block; padding: 12px 25px; background-color: #ffff00; color: Black; text-decoration: none; border-radius: 5px; font-weight: bold; margin-top: 10px;\">לחץ כאן לכניסה להדרכה</a></p>\r\n        \r\n        <p style=\"margin-top: 20px;\"><strong>🔔 שריינו ביומן:</strong></p>\r\n        \r\n        <a href=\"https://calendar.google.com/calendar/render?action=TEMPLATE&text=%D7%94%D7%93%D7%A8%D7%9B%D7%AA%20%D7%9E%D7%A2%D7%A8%D7%9B%D7%AA%20PLAN-T%20-%20&dates=20260223T100000/20260223T110000&details=%D7%A0%D7%AA%D7%A8%D7%90%D7%94%20%D7%91%D7%94%D7%93%D7%A8%D7%9B%D7%94!%20%D7%A7%D7%99%D7%A9%D7%95%D7%A8%20%D7%9C%D7%9B%D7%A0%D7%99%D7%A1%D7%94%3A%20https%3A%2F%2Fus06web.zoom.us%2Fj%2F84959005671\" \r\n           style=\"display: inline-block; padding: 10px 20px; background-color: rgba(0, 0, 0, 0); color: Black; text-decoration: none; border-radius: 5px; font-weight: bold; margin-left: 10px; margin-bottom: 10px;\">Google Calendar</a>\r\n\r\n<span style=\"color: #ccc; margin: 0 15px;\"> | </span>\n        <a href=\"https://outlook.office.com/calendar/0/deeplink/compose?subject=%D7%94%D7%93%D7%A8%D7%9B%D7%AA%20%D7%9E%D7%A2%D7%A8%D7%9B%D7%AA%20PLAN-T&startdt=2026-02-23T10:00:00&enddt=2026-02-23T11:00:00&body=%D7%A7%D7%99%D7%A9%D7%95%D7%A8%20%D7%9C%D7%94%D7%93%D7%A8%D7%9B%D7%94%3A%20https%3A%2F%2Fus06web.zoom.us%2Fj%2F84959005671\" \r\n           style=\"display: inline-block; padding: 10px 20px; background-color: rgba(0, 0, 0, 0); color: #000; text-decoration: none; border-radius: 5px; font-weight: bold;\">Outlook / Apple</a>\r\n    </div>\r\n\r\n  <div style=\"margin-top: 40px; border-top: 1px solid #eee; padding-top: 20px;\">\n        <p style=\"margin-bottom: 10px;\">נתראה שם!</p>\n        <strong style=\"display: block; margin-bottom: 15px;\">צוות PLAN-T</strong>\n        <img src=\"https://lh3.googleusercontent.com/d/1S-M79LpX_S1mH7T2G7lVz7L9O5XW1m7m\" alt=\"PLAN-T Logo\" style=\"width: 60px; height: auto;\">\n    </div>\r\n</div>": null
        },
        "12": {
          "בדיקה ": "<div dir=\"rtl\" style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; text-align: rig..."
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}